
.card-body{
    background-color: rgb(167, 49, 167);
}
.card-text{
    color: aliceblue;
}
.rough{
    text-align: center;
    margin-bottom: 75px;
    margin-top: 50px;
}

.font{
    font-family: 'Times New Roman', Times, serif;
}
